<!-- Completed Sign Up Start -->
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="#" class="">
                        <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>{{appName}}</h3>
                    </a>
                    <h3>Đăng Ký Thành Công</h3>
                </div>
                <div class="col md-12 alert alert-success mt-3">
                    {{#with user}}
                    <p>Chào {{name}}, bạn đã đăng ký thành công tài khoản, vui lòng đăng nhập</p>
                    {{/with}}
                </div>
                <div class="w-100 mt-5 d-flex justify-content-center gap-3">
                    <a class="btn btn-success text-white w-100 py-3 mb-4" href="/auth/login">Trở về trang Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Completed Sign Up End -->