<div class="card mt-4">
    <div class="card-header">
        <h5 class="card-title">Thông tin hóa đơn</h5>
    </div>
    <div class="card-body" id="invoiceContent">
        <h6 class="mb-4">Mã giao dịch: <strong>{{apptransid}}</strong></h6>
        <p class="mb-4"><strong>Chiến dịch:</strong> {{Campaign.name}}</p>
        <p class="mb-4"><strong>Ngày giao dịch:</strong> {{dateTimeFormat madeAt}}</p>
        <p class="mb-4"><strong>Số tiền đóng góp:</strong> {{formatAmount amount}} VNĐ</p>    
    </div>
</div>