<div class="navbar-nav w-100">
    <a href="chart.html" class="nav-item nav-link"><i class="fa  fa-gavel me-2"></i>Xác Thực Giấy Phép</a>
    <a href="table.html" class="nav-item nav-link"><i class="fa fa-book me-2"></i>Quản Lý Chiến Dịch</a>
    <a href="widget.html" class="nav-item nav-link"><i class="fa fa-gift me-2"></i>Đóng Góp</a>
    <a href="form.html" class="nav-item nav-link"><i class="fa fa-comments me-2"></i>Theo Dõi Báo Cáo</a>

    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                class="far fa-file-alt me-2"></i>Pages</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href="/user/login" class="dropdown-item">Đăng Nhập</a>
            <a href="/user/register" class="dropdown-item">Đăng Ký</a>
            <a href="/user/profile" class="dropdown-item">Tài Khoản</a>

            <a href="/error" class="dropdown-item">Trang thông báo lỗi</a>
            <a href="/campaign" class="dropdown-item">Chiến dịch</a>
            <a href="/campaign/1" class="dropdown-item">Chiến Dịch Số 1</a>
            <a href="/report" class="dropdown-item">Báo Cáo</a>
            <a href="/report/1" class="dropdown-item">Báo Cáo Số 1</a>

        </div>
    </div>
</div>