<div class="navbar-nav w-100">
    <a href="/" class="nav-item nav-link"><img class="logo_image" src="/img/logo_bw.svg" />Trang Chủ </a>
    {{#if user.permission.user.verifyLicense}}
    <a href="/charity-verification" class="nav-item nav-link"><i class="fa  fa-gavel me-2"></i>Xác Thực Giấy Phép</a>
    {{/if}}

    <a href="/charity" class="nav-item nav-link"><i class="fa fa-book me-2"></i>Tổ Chức Từ Thiện</a>

    {{#if user.permission.campaign.all}}
    <a href="/campaign" class="nav-item nav-link"><i class="fa fa-book me-2"></i>Quản Lý Chiến Dịch</a>
    {{/if}}

    <a href="/report" class="nav-item nav-link"><i class="fa fa-comments me-2"></i>Theo Dõi Báo Cáo</a>

    {{#if user.permission.donate.all}}
    <a href="/transaction" class="nav-item nav-link"><i class="fa fa-gift me-2"></i>Lịch Sử Đóng Góp</a>
    {{/if}}

    {{#if user.permission.heatmap.config}}
    <a href="/heatmap/manage/list" class="nav-item nav-link"><i class="fa fa-gift me-2"></i>Quản Lý Bản Đồ Nhiệt</a>
    {{/if}}
</div>
{{>heatmap}}