<div class="navbar-nav w-100">
    <a href="chart.html" class="nav-item nav-link"><i class="fa  fa-gavel me-2"></i>Xác Thực Giấy Phép</a>
    <a href="table.html" class="nav-item nav-link"><i class="fa fa-book me-2"></i>Quản Lý Chiến Dịch</a>
    <a href="widget.html" class="nav-item nav-link"><i class="fa fa-gift me-2"></i>Đóng Góp</a>
    <a href="/report" class="nav-item nav-link"><i class="fa fa-comments me-2"></i>Theo Dõi Báo Cáo</a>
    <a href="form.html" class="nav-item nav-link"><i class="fa fa-comments me-2"></i>Form Template</a>
</div>