.license-img {
    width: 100%; 
    height: auto;
    object-fit: cover;
    object-position: center;
    transition: opacity 0.3s ease;
}

.rejectButton {
    width: 120px;
    background-color: #D80073;
}

.approveButton{
    width: 120px;
    background-color: #395F18;
}
.statementButton {
    border: unset;
    color: #fff;
    font-weight: 700;
}