.main_container {
    max-width: 1300px;
    margin: auto !important;
}

.footer {
    position: absolute;
    width: -webkit-fill-available;
    bottom: 0;
}

.logo_image {
    width: 40px;
    height: 40px;
}

.left_banner {
    width: 250px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
}

.left_banner img {
    width: 250px;
    height: 250px;
}

.showInfo .avatar {
    max-width: 200px;
    height: auto;
}

.image_wrapper {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
}

.image_wrapper>.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul.pagination {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

ul.pagination>li>a {
    display: inline-block;
    min-width: 32px;
    text-align: center;
    background-color: #009cff;
    color: #fff;
    padding: 5px 7px;
    border-radius: 5px;
}

ul.pagination>li:first-child>a,
ul.pagination>li:last-child>a {
    width: 80px;
}

ul.pagination>li.active>a {
    background-color: #ffc107;
    color: #000;
}

ul.pagination>li.disabled>a {
    background-color: #757575;
    color: #fff;
}

ul.pagination>li.disabled>a:hover {
    cursor: not-allowed;
}


/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
    height: 100%;
}

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
}

#floating-panel {
    background-color: #fff;
    border: 1px solid #999;
    left: 25%;
    padding: 5px;
    position: absolute;
    top: 10px;
    z-index: 5;
}

/* Report */
.reportButton {
    width: 120px;
}

.statementBtn {
    background-color: #D80073;
    border: unset;
    color: #fff;
    font-weight: 700;
}

.donateBtn.inactive {
    cursor: not-allowed;
}

.campaign_more_info_container {
    background-color: #000;
    border: solid 1px #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
}

.campaign_more_info_container button {
    border-radius: unset;
}

.campaign_more_info_container button:focus {
    box-shadow: none
}

.report_statement_download {
    position: absolute;
    right: 0;
    top: 0;
}

.report_more_info_tag.active {
    background-color: #0d6efd;
}

.report_more_info_tag {
    background-color: #6c757d;
}

#distributionTransaction,
#contributionTransaction {
    height: 500px;
    overflow-y: scroll;
}

#reviewResult.toast {
    z-index: 1051;
}

/* Report */