<div class="rows m-3">
    <h4>Tạo mới khoản cứu trợ</h4>
</div>
<div class="container-fluid p-3 mb-5">
    <div class="rows">
        <div class="col-sm-12 col-xl-12 px-0">
            <h6 class="mb-4">Thông tin khoản cứu trợ</h6>
            <form class="col-12" id="createDistributionForm">
                <div class="row mb-3">
                    <label for="receiver" class="col-sm-2 col-form-label">Người Nhận Cứu Trợ</label>
                    <div class="col-12 col-md-10">
                        <input type="text" class="form-control" id="receiver" name="receiver"
                            placeholder="Nhập thông tin người nhận cứu trợ">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="amount" class="col-sm-2 col-form-label">Số Tiền Cứu Trợ</label>
                    <div class="row col-12 col-md-10 align-items-center">
                        <div class="col-11">
                            <input type="number" class="form-control" id="amount" name="amount"
                                placeholder="Nhập khoản tiền cứu trợ">
                        </div>
                        <div class="col-1 text-end">
                            <span>VND</span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="message" class="col-sm-2 col-form-label">Lời Nhắn</label>
                    <div class="col-12 col-md-10">
                        <textarea class="form-control" id="message" name="message" placeholder="Nhập lời nhắn..."></textarea>
                    </div>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Tạo mới</button>
                    <a class="btn btn-secondary ms-1" href="/campaign/{{campaign.id}}/distributions">Trở về danh sách cứu trợ</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('createDistributionForm').addEventListener('submit', function (event) {
            event.preventDefault()

            let formErrors = document.getElementById('formErrors')
            if (formErrors) {
                formErrors.remove()
            }

            const formData = new FormData(this)
            const data = JSON.stringify(Object.fromEntries(formData.entries()))

            fetch(`/campaign/{{campaign.id}}/distributions/create`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: data
            })
                .then(response => {
                    return response.json()
                })
                .then(data => {
                    if (data.errors) {

                        let messages = ''
                        data.errors.forEach(error => {
                            messages += `<p>${error.msg}</p>`
                        })
                        formErrors = document.createElement('div')
                        formErrors.classList = 'col md-12 alert alert-warning mt-3'
                        formErrors.id = "formErrors"
                        formErrors.innerHTML = messages
                        document.getElementById('createDistributionForm').appendChild(formErrors);

                    } else {
                        window.location.href = data.redirectURL
                    }
                })
                .catch(error => {
                    console.error('Error:', error)
                })
        })
    })
</script>