<div class="rows m-3">
    <h4>Lịch sử đóng góp</h4>
</div>
{{#if contributions.length}}
<div class="rows m-3">
    {{#each contributions}}
    {{> invoiceItem}}
    {{/each}}
    <div class="row m-3">
        <nav aria-label="Page navigation example" id="pagination">
            {{{
            createPagination pagination paginationClass="pagination justify-content-center"
            leftText="Previous" rightText="Next"
            }}}
        </nav>
    </div>
</div>
{{else}}
<div class="rows m-3">
    Không có lịch sử đóng góp nào!
</div>
{{/if}}