<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="col-6" id="messages">
        <p>Initial message: messages</p>
    </div>
    <div class="col-6" id="payments">
        <p>Initial message: payment</p>
    </div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="/js/websocket.js"></script>
    <script>
        eventWS.registerListener('paymentSuccess', 'testWebSocket', (data) => {
            const messagesDiv = document.getElementById('payments');
            const newMessage = document.createElement('p');
            newMessage.textContent = `${data.timestamp}: $${data.amount}`;
            messagesDiv.appendChild(newMessage);
        })
        eventWS.registerListener('userApproval', 'testWebSocket', (data) => {
            const messagesDiv = document.getElementById('messages');
            const newMessage = document.createElement('p');
            newMessage.textContent = `${data.timestamp}: ${data.message}`;
            messagesDiv.appendChild(newMessage);
        })
        eventWS.send('userApproval', {
            status: 'active'
        })
    </script>

</body>

</html>